version: '3'
services:
  xspec:
    restart: always
    ports:
    - 127.0.0.1:9999:9999
    environment:
    - Donate_portion_of_staking=0.1
    #Register your own account at https://www.mailjet.com/ 
    - mailjet_api_key=
    - mailjet_secret_key=
    #Backup wallet file to this email address 
    - mail_to=
    #when filling the following blanks, be creative
    - mail_sender_name=
    #title and content of the backup email
    - mail_subject=
    #wallet filename, set it you don't want it to be wallet.dat
    - wallet_backup_filename=
    volumes:
     - ./SpectreConf:/root/.spectrecoin
    image: morecoin/spectre:2.1
